<!DOCTYPE html>
<html>
<head>
    <title>Welcome</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/welcomestyle.css') }}"/>
</head>
<body>

    <div class="container mt-5">
        <h2 class="text-center">Welcome, {{ username }}!</h2>
        <p class="text-center">We are delighted to have you here. Start exploring now!</p>
        <div class="text-center mt-4">
            <button class="btn btn-primary" onclick="window.location.href='/dashboard'">Go to Dashboard</button>
        </div>
    </div>

</body>
</html>