<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
    <link rel="shortcut icon" type="image/x-icon" href= "{{ url_for('static',filename='icon.png') }}"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/loginstyle.css') }}"/>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
</head>
<body>

    <h2 class="text-center mt-5">Login</h2>

    <form id="login-form">
      <div class="container mt-5">
        <div class="form-group">
            <label for="email"><b>Email</b></label>
            <input type="email" class="form-control" placeholder="Enter Email" name="email" required>
        </div>

        <div class="form-group">
            <label for="psw"><b>Password</b></label>
            <input type="password" class="form-control" placeholder="Enter Password" name="password" required>
        </div>

        <button type="submit" class="btn btn-first btn-block">Login</button>
        <button type="button" class="btn btn-second btn-block mt-2" onclick="window.location.href='/register'">No account? Register here!</button>
      </div>
    </form>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
    $(document).ready(function(){
        $('#login-form').on('submit', function(e) {
            e.preventDefault();
            $.ajax({
                url: '/login',
                data: $('form').serialize(),
                type: 'POST',
                success: function(response) {
                    if (response.status == 'success') {
                        window.location.href = "/profile/" + response.username + "+" + response.token;
                    }
                },
                error: function(response) {
                    alert(response.responseJSON.message);
                }
            });
        });
    });
    </script>
</body>
</html>